@import "tailwindcss";

@font-face {
  font-family: 'Teletactile';
  src: url('/fonts/TeletactileRus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Teletactile'
}